@charset "UTF-8";



body, html {
  height: 100%;
  margin: 0;
  background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



.vh-100 bg-image {

}